.menu__ancora {
    font-family: Roboto;
    text-align: center;
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #a5c639;
    padding: 1rem;
    transition: 0.5s;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3rem;
    
}
.menu__ancora--ativo {
    font-weight: bold;
    background-color: #82992d;

}

.menu__ancora:hover {
    background-color: #64b844;
}

@media screen and (min-width: 0) {
    .menu__ancora {
        width: auto;
        margin: 0.5rem;
        
    }

}
@media screen and (min-width: 998px) {
    .menu__ancora {
        margin: 0 2rem 0 0;
        width: 10%;
    }

}