@import 'styles/breakpoints.scss';


.menu {
    align-items: center;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    

    @media (min-width: 0) and (max-width: $desktop_sm) {
        flex-direction: column;
        flex-grow: 1;
    }


    &__logo {
        width: 45%;
        height: auto;

        @media (max-width: $desktop_sm) {
            width: 100%;
        }

    }

    &__lista {
        display: flex;
        justify-content: space-around;
        width: 40%;
        flex-direction: row;
        flex-grow: 1;
        margin: 0rem;
        @media (min-width: 0) and (max-width: $desktop_sm) {
            width: 95%;
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

    &__item {
        text-align: center;
        list-style: none;
        font-family: Roboto;
        text-decoration: none;
        border-radius: 1rem;
        background-color: #a5c639;
        padding: 0.8rem 1rem;
        font-size: 1.5rem;
        transition: 0.5s;
        @media (min-width: 0) and (max-width: $desktop_xsm) {
            margin: 5px 0;
        }
        
        &:hover {
            background-color: #64b844;
            cursor: pointer;
        }

        &__link {
            text-decoration: none;
            color: #f9f9f9;
            &--ativo {
                font-weight: 900;
            }
        }
    }

}