.lista__item {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.lista__item__ancora {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
    transition: 0.5s;
}

.lista__item__ancora:hover {
    color: #64b844;
}

@media screen and (min-width: 0) {
    .lista__item__ancora {
        font-size: 1rem;
        
    }

}
@media screen and (min-width: 768px) {
    .lista__item__ancora {
        font-size: 1.5rem;
        
    }

}

@media screen and (min-width: 992px) {
    .lista__item__ancora {
        font-size: 1.5rem;
        
    }

}