.lista__item {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.lista__item__ancora {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: #333333;
    transition: 0.5s;
}

.lista__item__ancora:hover {
    color: #64b844;
}