.whatsapp {
    position: fixed;
    background-color: #25D366;
    width: 150px;
    top: 95%;
    right: 5%;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.whatsapp:hover {
    cursor: pointer;
    background-color: #299b53;;

}