.MVVs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2rem;
}

@media screen and (min-width: 0) {
    .MVVs {
        flex-direction: column;

    }

}
@media screen and (min-width: 768px) {
    .MVVs {
        flex-direction: row;

        
    }

}