.banner__titulo {
    color: #fdfdfd;
    font-family: Roboto;
    text-shadow: 0 4px 4px rgb(0 0 0 / 75%);
    text-align: center;
    width: 100%;

}

@media screen and (min-width: 0) {
    .banner__titulo {
        padding: 2rem;
        font-size: 2.5rem;
        
    }

}
@media screen and (min-width: 768px) {
    .banner__titulo {
        padding: 1.5rem;
        font-size: 4rem;
        
    }

}

@media screen and (min-width: 992px) {
    .banner__titulo {
        padding: 2rem;
        font-size: 6rem;
        
    }

}