.MVV__icone--missão {
    background-image: url('../../img/Icones/missão.png');
    width: 128px;
    height: 128px;
}

.MVV__icone--visão {
    background-image: url('../../img/Icones/missão.png');
    width: 128px;
    height: 128px;
}

.MVV__icone--valores {
    background-image: url('../../img/Icones/missão.png');
    width: 128px;
    height: 128px;
}

